* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #212121;
  color: #ff6d00;
}

::-moz-selection {
  background-color: #ff6d00;
  color: #212121;
}

::selection {
  background-color: #ff6d00;
  color: #212121;
}

hr {
  background-color: #fff;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.btnBackDesing {
  position: absolute;
  left: 0;
  top: 0px;
  color: #007bff;
  background-color: #fff;
  border-radius: 50px;
}

.fixedOnBottom {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  min-height: 100vh;
}

.container > nav #FakeDropdownItem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.container > nav #FakeDropdownItem:hover,
.container > nav #FakeDropdownItem:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.container > nav #FakeDropdownItem:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

@media screen and (max-width: 992px) {
  .container > nav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container > nav .navbar-collapse .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .container > nav .navbar-collapse {
    display: unset;
  }
  .container > nav .navbar-collapse #searchForm {
    margin-top: 7px;
  }
}

@media screen and (max-width: 350px) {
  .container > nav .navbar-collapse #searchForm {
    width: 250px;
  }
  .container > nav .navbar-collapse #searchForm div {
    width: 250px;
  }
  .container > nav .navbar-collapse #searchForm div input {
    width: 250px;
  }
}

.modal #palamaresUl {
  color: gold;
  list-style: inside circle;
}

.modal #palamaresUl .palma {
  font-weight: bold;
  text-decoration: underline;
  color: #007bff !important;
}

.loginForm {
  margin-left: calc(50% - 150px);
  padding: 10px;
  width: 300px;
  -webkit-box-shadow: 4px 4px 8px #000;
          box-shadow: 4px 4px 8px #000;
}

.loginForm h2 {
  font-size: 20px !important;
}

.loginForm h2 {
  font-size: 0.89rem;
  font-weight: bold;
}

.loginForm .google-button {
  cursor: pointer;
  background-color: #f7f7f7;
  color: #212121;
  border-bottom: 2px solid #212121;
}

.NotFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.NotFound h1 {
  font-size: 10rem;
}

.NotFound h3 {
  background-color: #313131;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

#searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 300px;
}

#searchForm .form-group input {
  width: 300px;
  padding-right: 45px;
}

#searchForm button {
  position: absolute;
  top: 0;
  height: 38px;
  right: 0;
}

#account {
  margin-left: 10px;
}

#btnHome {
  margin-right: 10px;
}

#ModalTitle,
#ModalFooter {
  background-color: #444;
}

#ModalBody {
  background-color: #222;
  max-height: 400px;
  overflow: auto;
}

#ModalBody .poster {
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 130px;
  margin-left: calc(50% - 130px / 2);
  background-color: #444;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#ModalBody .poster img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 130px;
}

#ModalBody .poster h4 {
  text-align: center;
}

#ModalBody .poster h4 .title {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
}

#ModalBody .poster h4 .type,
#ModalBody .poster h4 .score {
  font-size: 0.8rem;
}

#ModalBody .poster:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#oneAnim {
  overflow-x: hidden !important;
  min-width: 100%;
  min-height: 100vh;
  padding: 0 0 55px 0;
}

#oneAnim section {
  margin-bottom: 15px;
}

#oneAnim section header {
  text-align: center;
}

#oneAnim section header h1 {
  text-decoration: underline;
}

#oneAnim > header {
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.096);
}

#oneAnim > header .img {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#oneAnim > header .img img {
  width: 250px;
  border-radius: 5px;
  height: calc(318px + 25px);
}

#oneAnim > header .img .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #007bff;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#oneAnim > header .img .play:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#oneAnim > header .img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#oneAnim > header h5 {
  margin-top: 5px;
  text-align: center;
}

#oneAnim #trailer #TrailerVideo {
  margin-left: calc(50% - 660px / 2);
}

#oneAnim #infoSup ul {
  list-style: inside;
  margin-left: 10px;
  text-align: justify;
}

#oneAnim #infoSup ul li .info {
  color: #ddd;
}

#oneAnim #episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#oneAnim #episodes .EpContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 15px;
  width: 70%;
}

#oneAnim #episodes .EpContent .EP {
  width: 180px;
}

#oneAnim #episodes .EpContent .EP a {
  text-decoration: none;
}

#oneAnim #episodes .EpContent .EP a .img {
  position: relative;
}

#oneAnim #episodes .EpContent .EP a .img img {
  width: 180px;
  border-radius: 5px;
}

#oneAnim #episodes .EpContent .EP a .img .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #007bff;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#oneAnim #episodes .EpContent .EP a .img .play:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#oneAnim #episodes .EpContent .EP a h4 {
  color: #ff6d00;
  font-size: 1rem;
}

@media screen and (max-width: 1385px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1080px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 786px) {
  #oneAnim #episodes .EpContent .EP {
    width: 140px;
  }
  #oneAnim #episodes .EpContent .EP img {
    width: 140px !important;
  }
  #oneAnim #episodes .EpContent .EP h4 {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 640px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

@media screen and (max-width: 420px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

#MyAnime {
  margin-top: 25px;
}

#MyAnime header {
  position: relative !important;
  margin: 50px 0;
}

#MyAnime header #TabsHomeMade {
  padding-top: 10.5px;
}

#MyAnime header #TabsHomeMade #FilterBtn {
  position: absolute;
  top: -37.5px;
  left: 0;
}

#MyAnime header #TabsHomeMade #FilterBtn::after {
  display: none;
}

#MyAnime header #TabsHomeMade:hover {
  border-top: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#MyAnime header #TabsHomeMade.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  height: 56px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#MyAnime header #TabsHomeMade.active:hover {
  border: none;
}

#MyAnime header #returnAlert {
  margin-top: 10px;
}

#MyAnime .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  text-decoration: none;
  color: #ff6d00;
}

#MyAnime .content .MyAnimPoster {
  width: 200px !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .ImgInterract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .ImgInterract img {
  width: 200px !important;
  height: 290px !important;
  border-radius: 7px;
}

#MyAnime .content .MyAnimPoster .action {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .action .watch,
#MyAnime .content .MyAnimPoster .action .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 66px / 2);
  width: 35px;
  height: 35px;
  font-size: 30px;
  border-radius: 50%;
  color: #fff;
  border: 3px solid #ccc;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .action .watch {
  left: calc(50% + 3px);
}

#MyAnime .content .MyAnimPoster .action .delete {
  left: calc(50% - 35px - 30px);
}

#MyAnime .content .MyAnimPoster .action .watch:hover {
  color: royalblue;
  border: 3px solid royalblue;
}

#MyAnime .content .MyAnimPoster .action .delete:hover {
  color: red;
  border: 3px solid red;
}

#MyAnime .content .MyAnimPoster .action .watch.paused:hover {
  color: #17a2b8;
  border: 3px solid #17a2b8;
}

#MyAnime .content .MyAnimPoster h4 {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
}

#MyAnime .content .MyAnimPoster:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#MyAnime .content .MyAnimPoster:hover .ImgInterract {
  opacity: 0.3;
}

#MyAnime .content .MyAnimPoster:hover .action .watch,
#MyAnime .content .MyAnimPoster:hover .action .delete {
  opacity: 1;
}

#MyAnime .content .MyAnimPoster.Paused,
#MyAnime .content .MyAnimPoster.finished {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#MyAnime .content .MyAnimPoster.Paused h4,
#MyAnime .content .MyAnimPoster.finished h4 {
  position: absolute;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#MyAnime .content .MyAnimPoster.finished .ImgInterract {
  opacity: 0.3;
}

#MyAnime .content .MyAnimPoster.finished h4 {
  -webkit-text-decoration: line-through #fff;
          text-decoration: line-through #fff;
}

#MyAnime .content .MyAnimPoster.finished h5 {
  text-align: center;
  color: greenyellow;
  font-size: 1.4rem;
}

#MyAnime .content .MyAnimPoster.finished:hover h4,
#MyAnime .content .MyAnimPoster.Paused:hover h4 {
  opacity: 1;
}

#MyAnime .content .MyAnimPoster.finished:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#MyAnime .content .MyAnimPoster.alleged .action .delete {
  top: calc(50% - 66px / 2);
  left: calc(50% - 35px);
}

#MyAnime .content .MyAnimPoster.Paused {
  position: relative;
  color: rgba(23, 163, 184, 0.746);
  border-radius: 7px;
  background-color: #52525298;
}

#MyAnime .content .MyAnimPoster.Paused h4 {
  color: #21e0fd;
}

#MyAnime .content .MyAnimPoster.Paused h5 {
  text-align: center;
  margin-top: 12px;
}

#MyAnime .content .MyAnimPoster.Paused .ImgInterract {
  opacity: 0.3;
  -webkit-filter: grayscale(0.3) blur(0.8px);
          filter: grayscale(0.3) blur(0.8px);
}

#MyAnime .content .MyAnimPoster.Paused:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #525252;
}

#MyAnime .content .MyAnimPoster.Paused:hover .ImgInterract {
  opacity: 0.4;
  -webkit-filter: grayscale(0.4) blur(0px);
          filter: grayscale(0.4) blur(0px);
}

#MyAnime .content.none {
  display: unset;
  position: relative;
}

#MyAnime .content.none header {
  text-align: center;
}

#MyAnime .content.none .NextAnimContainer {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

#MyAnime .content.none .NextAnimContainer #NextAnim {
  text-align: center;
}

#MyAnime .content.none .NextAnimContainer #NextAnim .name {
  font-size: 1.3rem;
  font-weight: bold;
}

#MyAnime .content.none .NextAnimContainer #NextAnim button {
  position: relative;
  font-weight: bold;
}

#MyAnime .content.none .NextAnimContainer #NextAnim button .animation {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 50px;
  opacity: 0;
  font-size: 1.6rem;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#MyAnime .content.none .NextAnimContainer #NextAnim button .animation:hover {
  -webkit-animation: LToR 0.5s ease-out 0.1s 1 forwards;
          animation: LToR 0.5s ease-out 0.1s 1 forwards;
}

@media screen and (max-width: 1200px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
  }
  #MyAnime .content .MyAnimPoster {
    width: 150px !important;
  }
  #MyAnime .content .MyAnimPoster .ImgInterract img {
    width: 150px !important;
    height: 222px !important;
    border-radius: 7px;
  }
}

@media screen and (max-width: 500px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: 340px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 5px;
  }
  #MyAnime .content .MyAnimPoster {
    width: 100px !important;
  }
  #MyAnime .content .MyAnimPoster .ImgInterract img {
    width: 100px !important;
    height: 148px !important;
    border-radius: 7px;
  }
}

@media screen and (max-width: 240px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 5px;
  }
}

#Watch {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Watch .nonStartMod {
  position: relative;
  opacity: 0.3;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Watch .nonStartMod section {
  margin-bottom: 15px;
}

#Watch .nonStartMod section #badgeStreaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Watch .nonStartMod section #badgeStreaming #InputBadgeStreaming {
  background-image: linear-gradient(45deg, #13c2c2, #fadb14);
  color: #101010;
}

#Watch .nonStartMod section #badgeStreaming .badge:empty {
  display: block;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME img {
  visibility: visible;
  height: 19px;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME #ValueBadge {
  visibility: visible;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME #CancelBadge {
  display: none;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME:hover img {
  visibility: hidden;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME:hover #ValueBadge {
  visibility: hidden;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME:hover #CancelBadge {
  display: block;
  position: absolute;
  margin-left: calc(50%-8px);
}

#Watch .nonStartMod section #badgeStreaming .BadgesME.badge-pill:active {
  background-color: #464c52;
}

#Watch .nonStartMod section header {
  text-align: center;
}

#Watch .nonStartMod section header h1 {
  text-decoration: underline;
  font-size: 2rem;
  font-style: italic;
}

#Watch .nonStartMod > header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.096);
}

#Watch .nonStartMod > header .img {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .nonStartMod > header .img img {
  width: 250px;
  border-radius: 5px;
  height: calc(318px + 25px);
}

#Watch .nonStartMod > header .img .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #007bff;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .nonStartMod > header .img .play:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#Watch .nonStartMod > header .img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Watch .nonStartMod > header h1 {
  font-size: 1.7rem;
  margin-bottom: 15px;
  font-weight: bold;
}

#Watch .nonStartMod button {
  margin-left: 10px;
  margin-top: 5px;
}

#Watch .nonStartMod #DropdownAction {
  position: absolute;
  right: 30px;
}

#Watch .nonStartMod #DropdownAction::after {
  display: none;
}

#Watch .nonStartMod .content {
  position: relative;
  margin-left: 10px;
}

#Watch .nonStartMod .content .film {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1rem;
}

#Watch .nonStartMod .content .film span {
  color: greenyellow;
  text-decoration: none;
}

#Watch .nonStartMod .content .accordionAnimEP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child {
  position: relative;
  width: 50%;
  min-width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child .name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.7rem;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child .name span {
  color: greenyellow;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child .name #AddEpBtn {
  position: absolute;
  right: 20px;
  top: 0;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child .episodes {
  display: none;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child .episodes span {
  color: greenyellow;
}

#Watch .nonStartMod .content .accordionAnimEP .accordion-child.active .episodes {
  display: block;
}

#Watch .nonStartMod.active {
  opacity: 1;
  pointer-events: unset;
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
}

#Watch .StartMod {
  display: none;
}

#Watch .StartMod.active {
  position: absolute;
  top: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Watch .StartMod.active header {
  position: absolute;
  top: -25vh;
  left: calc(50vw - 250px / 3);
  width: 500px;
}

#Watch .StartMod.active header h2 {
  font-size: 2.5rem;
}

#Watch .StartMod.active footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25vh;
  left: calc(50vw - 246px);
  width: 500px;
}

#Watch .StartMod.active footer .previousEp {
  margin-right: 20px;
  margin-bottom: 10px;
}

#Watch .StartMod.active footer .blockNextAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 300px;
  height: 75px;
  cursor: pointer;
  border: 2px solid #ff6d00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#Watch .StartMod.active footer .blockNextAction:hover {
  background-color: #ddd;
}

@media screen and (max-width: 510px) {
  #Watch .StartMod.active footer {
    display: block;
    width: 300px !important;
    left: calc(50vw - 146px);
  }
  #Watch .StartMod.active footer .previousEp {
    margin-right: 0px;
  }
  #Watch .StartMod.active footer .blockNextAction {
    background-color: #ddd;
  }
}

#Watch .StartMod.active .cancel,
#Watch .StartMod.active .next,
#Watch .StartMod.active .finished {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 66px / 2);
  width: 35px;
  height: 35px;
  font-size: 30px;
  border-radius: 50%;
  color: #ff6d00;
  border: 3px solid #ff6d00;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .StartMod.active .next,
#Watch .StartMod.active .finished {
  left: calc(50vw + 13px);
}

#Watch .StartMod.active .cancel {
  left: calc(50vw - 35px - 40px);
}

#Watch .StartMod.active .finished {
  color: greenyellow;
  border: 3px solid greenyellow;
}

#Watch .StartMod.active .cancel {
  color: red;
  border: 3px solid red;
}

#Watch .StartMod.active .cancel:hover,
#Watch .StartMod.active .next:hover,
#Watch .StartMod.active .finished:hover {
  color: royalblue;
  border: 3px solid royalblue;
}

#Notif,
#Settings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#Notif header,
#Settings header {
  text-align: center;
}

#Notif header h2,
#Settings header h2 {
  font-size: 2.3rem;
  font-weight: bold;
}

#Notif header h2 span,
#Settings header h2 span {
  color: grey;
}

#Notif header h4,
#Settings header h4 {
  font-size: 1.15rem;
  margin: 30px 0;
}

#Notif header button,
#Settings header button {
  margin-bottom: 10px;
}

#Notif #returnNotif {
  margin-top: 50px;
  max-height: 700px;
  overflow: auto;
}

#Notif #returnNotif .notif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 10px;
}

#Notif #returnNotif .notif .name {
  font-size: 1.4rem;
  font-weight: 600;
}

#Notif #returnNotif .notif button {
  margin: 10px 10px 0 10px;
}

#Settings #ActionAccount {
  overflow: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 10px;
  top: 75px;
  width: 20%;
  height: calc(100% - 75px);
}

#Settings #ActionAccount h1 {
  text-align: center;
  font-size: 1.9rem;
  text-decoration: underline;
}

#Settings #ActionAccount .BtnActionAccount {
  margin-bottom: 10px;
}

@-webkit-keyframes LToR {
  0% {
    opacity: 0;
    left: 50px;
  }
  20% {
    opacity: 1;
    left: 100px;
  }
  40% {
    opacity: 1;
    left: 150px;
  }
  50% {
    opacity: 1;
    left: 200px;
  }
  60% {
    opacity: 1;
    left: 250px;
  }
  100% {
    opacity: 1;
    left: 300px;
  }
}

@keyframes LToR {
  0% {
    opacity: 0;
    left: 50px;
  }
  20% {
    opacity: 1;
    left: 100px;
  }
  40% {
    opacity: 1;
    left: 150px;
  }
  50% {
    opacity: 1;
    left: 200px;
  }
  60% {
    opacity: 1;
    left: 250px;
  }
  100% {
    opacity: 1;
    left: 300px;
  }
}
/*# sourceMappingURL=App.css.map */