* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden !important;
  min-height: 100vh;
  background-color: #212121;
  color: #ff6d00;
}

::-moz-selection {
  background-color: #ff6d00;
  color: #212121;
}

::selection {
  background-color: #ff6d00;
  color: #212121;
}

hr {
  background-color: #fff;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.btnBackDesing {
  position: absolute;
  left: 0;
  top: 0px;
  color: #007bff;
  background-color: #fff;
  border-radius: 50px;
}

.fixedOnBottom {
  position: fixed;
  bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.FakeDropDownItem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-toggle::after {
  display: none;
}

.popover {
  min-width: 200px;
  max-width: 200px;
  background-color: #525252;
}

.popover .popover-header {
  background-color: #3a3a3a;
}

.popover .popover-body {
  color: #fff;
  line-height: 10px;
}

.ackmessage {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 40px;
  min-width: 200px;
  max-width: 350px;
  border-radius: 3px;
  padding: 5px;
  color: #212121;
  background-color: rgba(241, 241, 241, 0.972);
}

.ackmessage span {
  margin-right: 10px;
  color: #007bff;
}

.ackmessage.green span {
  color: #28a745;
}

.ackmessage.show {
  -webkit-animation: ShowMessage 1s ease-in 0s 1;
          animation: ShowMessage 1s ease-in 0s 1;
}

.ackmessage.hide {
  -webkit-animation: HideMessage 1s ease-out 0s 1;
          animation: HideMessage 1s ease-out 0s 1;
}

@-webkit-keyframes ShowMessage {
  from {
    right: -350px;
    top: 5px;
  }
  to {
    right: 10px;
    top: 5px;
  }
}

@keyframes ShowMessage {
  from {
    right: -350px;
    top: 5px;
  }
  to {
    right: 10px;
    top: 5px;
  }
}

@-webkit-keyframes HideMessage {
  from {
    right: 10px;
    top: 5px;
  }
  to {
    right: -350px;
    top: 5px;
  }
}

@keyframes HideMessage {
  from {
    right: 10px;
    top: 5px;
  }
  to {
    right: -350px;
    top: 5px;
  }
}

.container {
  min-height: 100vh;
}

.container > nav #FakeDropdownItem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.container > nav #FakeDropdownItem:hover,
.container > nav #FakeDropdownItem:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.container > nav #FakeDropdownItem:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

@media screen and (max-width: 991px) {
  .container > nav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container > nav .navbar-collapse .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .container > nav .navbar-collapse {
    display: unset;
  }
  .container > nav .navbar-collapse #searchForm {
    margin-top: 7px;
  }
}

@media screen and (max-width: 400px) {
  .container > nav .navbar-collapse #searchForm {
    width: 250px;
  }
  .container > nav .navbar-collapse #searchForm div {
    width: 250px;
  }
  .container > nav .navbar-collapse #searchForm div input {
    width: 250px;
    padding-right: 70px;
  }
  .container > nav .navbar-collapse #searchForm #SearchFormBtnVoice {
    width: auto;
  }
}

.modal #palamaresUl {
  color: gold;
  list-style: inside circle;
}

.modal #palamaresUl .palma {
  font-weight: bold;
  text-decoration: underline;
  color: #007bff !important;
}

.loginForm {
  margin-left: calc(50% - 150px);
  padding: 10px;
  width: 300px;
  -webkit-box-shadow: 4px 4px 8px #000;
          box-shadow: 4px 4px 8px #000;
}

.loginForm #resetVpnBtn {
  position: absolute;
  right: 0;
  top: 0px;
}

.loginForm h2 {
  font-size: 20px !important;
}

.loginForm h2 {
  font-size: 0.89rem;
  font-weight: bold;
}

.loginForm .google-button {
  cursor: pointer;
  background-color: #f7f7f7;
  color: #212121;
  border-bottom: 2px solid #212121;
}

.NotFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.NotFound h1 {
  font-size: 10rem;
}

.NotFound h3 {
  background-color: #313131;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

#searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 350px;
}

#searchForm .form-group input {
  width: 350px;
  padding-right: 65px;
}

#searchForm #SearchFormBtnSubmit {
  position: absolute;
  top: 0;
  right: 0;
}

#searchForm #SearchFormBtnVoice {
  position: absolute;
  top: calc(50% - 11px);
  right: 50px;
  color: #2121218e;
  cursor: pointer;
}

#searchForm #SearchFormBtnVoice:active {
  color: #212121;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media screen and (max-width: 575px) {
  #searchForm #SearchFormBtnVoice {
    top: calc(50% - 18px);
  }
}

#account {
  margin-left: 10px;
}

#btnHome {
  margin-right: 10px;
}

#ModalTitle,
#ModalFooter {
  background-color: #444;
}

#ModalBody {
  background-color: #222;
  max-height: 400px;
  overflow: auto;
}

#ModalBody #searchInAnimeList {
  position: relative;
}

#ModalBody #searchInAnimeList .searchInAnimeListInput {
  padding-right: 27px;
}

#ModalBody #searchInAnimeList #SearchFormBtnVoice {
  position: absolute;
  top: calc(50% + 4px);
  right: 5px;
  color: #2121218e;
  cursor: pointer;
}

#ModalBody #searchInAnimeList #SearchFormBtnVoice:active {
  color: #212121;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#ModalBody .poster {
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  width: 130px;
  margin-left: calc(50% - 130px / 2);
  background-color: #444;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#ModalBody .poster img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 130px;
}

#ModalBody .poster h4 {
  text-align: center;
}

#ModalBody .poster h4 .title {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: bold;
}

#ModalBody .poster h4 .type,
#ModalBody .poster h4 .score {
  font-size: 0.8rem;
}

#ModalBody .poster:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#ModalBody .poster.Skeleton {
  cursor: default;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: calc(50% - 130px / 2);
  margin-bottom: 10px;
  height: 240px;
  width: 130px;
  background-color: #444;
}

#ModalBody .poster.Skeleton::after {
  content: "";
  position: absolute;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-left: calc(50% - 130px / 2);
  margin-bottom: 10px;
  height: 240px;
  width: 130px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(85, 85, 85, 0.5)), to(#444));
  background-image: linear-gradient(90deg, rgba(85, 85, 85, 0.5), #444);
  -webkit-animation: Skeleton 1.5s ease-in 0.5s infinite;
          animation: Skeleton 1.5s ease-in 0.5s infinite;
}

#oneAnim {
  overflow-x: hidden !important;
  min-width: 100%;
  min-height: 100vh;
  padding: 0 0 55px 0;
}

#oneAnim section {
  margin-bottom: 15px;
}

#oneAnim section header {
  text-align: center;
}

#oneAnim section header h1 {
  text-decoration: underline;
}

#oneAnim > header {
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  background-color: rgba(255, 255, 255, 0.096);
}

#oneAnim > header .img {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#oneAnim > header .img img {
  width: 250px;
  border-radius: 5px;
  height: calc(318px + 25px);
}

#oneAnim > header .img .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #007bff;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#oneAnim > header .img .play:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#oneAnim > header .img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#oneAnim > header h5 {
  margin-top: 5px;
  text-align: center;
}

#oneAnim #trailer #TrailerVideo {
  margin-left: calc(50% - 660px / 2);
}

#oneAnim #infoSup ul {
  list-style: inside;
  margin-left: 10px;
  text-align: justify;
}

#oneAnim #infoSup ul li .info {
  color: #ddd;
}

#oneAnim #episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#oneAnim #episodes .EpContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 15px;
  width: 70%;
}

#oneAnim #episodes .EpContent .EP {
  width: 180px;
}

#oneAnim #episodes .EpContent .EP a {
  text-decoration: none;
}

#oneAnim #episodes .EpContent .EP a .img {
  position: relative;
}

#oneAnim #episodes .EpContent .EP a .img img {
  width: 180px;
  border-radius: 5px;
}

#oneAnim #episodes .EpContent .EP a .img .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #007bff;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#oneAnim #episodes .EpContent .EP a .img .play:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#oneAnim #episodes .EpContent .EP a h4 {
  color: #ff6d00;
  font-size: 1rem;
}

@media screen and (max-width: 1385px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1080px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 786px) {
  #oneAnim #episodes .EpContent .EP {
    width: 140px;
  }
  #oneAnim #episodes .EpContent .EP img {
    width: 140px !important;
  }
  #oneAnim #episodes .EpContent .EP h4 {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 640px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

@media screen and (max-width: 420px) {
  #oneAnim #episodes .EpContent {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

#MyAnime {
  margin-top: 25px;
}

#MyAnime header {
  position: relative !important;
  margin: 50px 0;
}

#MyAnime header #TabsHomeMade {
  padding-top: 10.5px;
}

#MyAnime header #TabsHomeMade #FilterBtn {
  position: absolute;
  top: -37.5px;
  left: 0;
}

#MyAnime header #TabsHomeMade #FilterBtn::after {
  display: none;
}

#MyAnime header #TabsHomeMade:hover {
  border-top: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#MyAnime header #TabsHomeMade.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  height: 56px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#MyAnime header #TabsHomeMade.active:hover {
  border: none;
}

#MyAnime header #returnAlert {
  margin-top: 10px;
}

#MyAnime .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  text-decoration: none;
  color: #ff6d00;
}

#MyAnime .content .MyAnimPoster {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 200px !important;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .RatingStar,
#MyAnime .content .MyAnimPoster .FvBtn,
#MyAnime .content .MyAnimPoster .ReTakeImgBtn {
  position: absolute;
  z-index: 10;
  padding: 5px;
  border-radius: 7px;
  font-size: 15px;
}

#MyAnime .content .MyAnimPoster .RatingStar {
  right: 0;
  background-color: rgba(0, 0, 0, 0.609);
}

#MyAnime .content .MyAnimPoster .ReTakeImgBtn {
  bottom: 31px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.274);
  color: #ddd;
}

#MyAnime .content .MyAnimPoster .FvBtn {
  background-color: rgba(0, 0, 0, 0.274);
  color: #ffc107;
  cursor: pointer;
}

#MyAnime .content .MyAnimPoster .FvBtn.bottom {
  bottom: 44px;
}

#MyAnime .content .MyAnimPoster .FvBtn.hide {
  display: none;
}

#MyAnime .content .MyAnimPoster .FvBtn.show {
  display: block;
}

#MyAnime .content .MyAnimPoster .ImgInterract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .ImgInterract img {
  width: 200px !important;
  height: 290px !important;
  border-radius: 7px;
}

#MyAnime .content .MyAnimPoster .action {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .action .watch,
#MyAnime .content .MyAnimPoster .action .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 290px / 4.55);
  width: 35px;
  height: 35px;
  font-size: 30px;
  border-radius: 50%;
  color: #fff;
  border: 3px solid #ccc;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster .action .watch {
  left: calc(50% + 3px);
}

#MyAnime .content .MyAnimPoster .action .delete {
  left: calc(50% - 35px - 30px);
}

#MyAnime .content .MyAnimPoster .action .watch:hover {
  color: royalblue;
  border: 3px solid royalblue;
}

#MyAnime .content .MyAnimPoster .action .delete:hover {
  color: red;
  border: 3px solid red;
}

#MyAnime .content .MyAnimPoster .action .watch.paused:hover {
  color: #17a2b8;
  border: 3px solid #17a2b8;
}

#MyAnime .content .MyAnimPoster .action .watch.addEP:hover {
  color: #28a745;
  border: 3px solid #28a745;
}

#MyAnime .content .MyAnimPoster h4 {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

#MyAnime .content .MyAnimPoster:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#MyAnime .content .MyAnimPoster:hover .ImgInterract {
  opacity: 0.3;
}

#MyAnime .content .MyAnimPoster:hover .action .watch,
#MyAnime .content .MyAnimPoster:hover .action .delete {
  opacity: 1;
}

#MyAnime .content .MyAnimPoster.Skeleton {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 321px;
  border-radius: 7px;
}

#MyAnime .content .MyAnimPoster.Skeleton .MiniPoster {
  position: relative;
  background-color: #32373b;
  border-radius: 7px;
  width: 200px;
  height: 290px;
}

#MyAnime .content .MyAnimPoster.Skeleton .MiniPoster::after {
  content: "";
  position: absolute;
  left: -200px;
  width: 200px;
  height: 290px;
  background-image: -webkit-gradient(linear, left top, right top, from(#34393d), color-stop(#32373b), to(#34393d));
  background-image: linear-gradient(90deg, #34393d, #32373b, #34393d);
  border-radius: 7px;
  -webkit-animation: Skeleton 1.2s ease-in 0.5s infinite;
          animation: Skeleton 1.2s ease-in 0.5s infinite;
}

#MyAnime .content .MyAnimPoster.Skeleton::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 180px;
  height: 17px;
  background-color: #495057;
  border-radius: 25px;
}

#MyAnime .content .MyAnimPoster.Season {
  border-radius: 7px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 200px 290px;
}

#MyAnime .content .MyAnimPoster.Season .ImgInterract {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content .MyAnimPoster.Season .ImgInterract img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

#MyAnime .content .MyAnimPoster.Season:hover .ImgInterract img {
  opacity: 0.2;
}

#MyAnime .content .MyAnimPoster.Season.hiver {
  background-image: url("../Img/Hiver.jpg");
  background-color: rgba(77, 140, 207, 0.05);
  color: #4d8ccf;
}

#MyAnime .content .MyAnimPoster.Season.hiver .FvBtn {
  background-color: rgba(0, 0, 0, 0.4);
  color: #37d9ee;
}

#MyAnime .content .MyAnimPoster.Season.hiver h4 {
  color: #4d8ccf;
}

#MyAnime .content .MyAnimPoster.Season.printemps {
  background-image: url("../Img/Printemps.jpg");
  background-color: rgba(77, 187, 14, 0.05);
  color: #4dbb0e;
}

#MyAnime .content .MyAnimPoster.Season.printemps .FvBtn {
  background-color: rgba(0, 0, 0, 0.4);
  color: #64f311;
}

#MyAnime .content .MyAnimPoster.Season.printemps h4 {
  color: #4dbb0e;
}

#MyAnime .content .MyAnimPoster.Season.ete {
  background-image: url("../Img/Summer.jpg");
  background-color: rgba(255, 193, 7, 0.05);
  color: #ffc107;
}

#MyAnime .content .MyAnimPoster.Season.ete .FvBtn {
  background-color: rgba(0, 0, 0, 0.35);
  color: #003ef8;
}

#MyAnime .content .MyAnimPoster.Season.ete h4 {
  color: #ffc107;
}

#MyAnime .content .MyAnimPoster.Season.automne {
  background-image: url("../Img/Automne.jpg");
  background-color: rgba(167, 114, 0, 0.05);
  color: #a77200;
}

#MyAnime .content .MyAnimPoster.Season.automne .FvBtn {
  background-color: rgba(0, 0, 0, 0.68);
  color: #a77200;
}

#MyAnime .content .MyAnimPoster.Season.automne h4 {
  color: #a77200;
}

#MyAnime .content .MyAnimPoster.Season.NewEP {
  background-color: rgba(119, 0, 255, 0.25);
  color: #7700ff;
}

#MyAnime .content .MyAnimPoster.Season.NewEP #NEWEPBadge {
  position: absolute;
  top: 2.5px;
  right: -15px;
  z-index: 1000;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#MyAnime .content .MyAnimPoster.Season.NewEP .ImgInterract img {
  -webkit-filter: brightness(1.05) hue-rotate(90deg);
          filter: brightness(1.05) hue-rotate(90deg);
}

#MyAnime .content .MyAnimPoster.Season.NewEP .FvBtn {
  background-color: rgba(0, 0, 0, 0.68);
  color: #7700ff;
}

#MyAnime .content .MyAnimPoster.Season.NewEP h4 {
  color: #7700ff;
}

#MyAnime .content .MyAnimPoster.Paused,
#MyAnime .content .MyAnimPoster.Drop,
#MyAnime .content .MyAnimPoster.InWait,
#MyAnime .content .MyAnimPoster.finished {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#MyAnime .content .MyAnimPoster.Paused h4,
#MyAnime .content .MyAnimPoster.Drop h4,
#MyAnime .content .MyAnimPoster.InWait h4,
#MyAnime .content .MyAnimPoster.finished h4 {
  position: absolute;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#MyAnime .content .MyAnimPoster.finished .ImgInterract {
  opacity: 0.3;
}

#MyAnime .content .MyAnimPoster.finished h4 {
  -webkit-text-decoration: line-through #fff;
          text-decoration: line-through #fff;
}

#MyAnime .content .MyAnimPoster.finished h5 {
  text-align: center;
  color: greenyellow;
  font-size: 1.4rem;
}

#MyAnime .content .MyAnimPoster.alleged {
  background-color: rgba(172, 255, 47, 0.06);
  border-radius: 7px;
}

#MyAnime .content .MyAnimPoster.finished:hover h4,
#MyAnime .content .MyAnimPoster.Drop:hover h4,
#MyAnime .content .MyAnimPoster.InWait:hover h4,
#MyAnime .content .MyAnimPoster.Paused:hover h4 {
  opacity: 1;
}

#MyAnime .content .MyAnimPoster.finished:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#MyAnime .content .MyAnimPoster.Paused,
#MyAnime .content .MyAnimPoster.Drop,
#MyAnime .content .MyAnimPoster.InWait {
  position: relative;
  color: rgba(23, 163, 184, 0.746);
  border-radius: 7px;
  background-color: #52525298;
}

#MyAnime .content .MyAnimPoster.Paused .FvBtn,
#MyAnime .content .MyAnimPoster.Drop .FvBtn,
#MyAnime .content .MyAnimPoster.InWait .FvBtn {
  background-color: rgba(0, 0, 0, 0.274);
  color: #21e0fd;
}

#MyAnime .content .MyAnimPoster.Paused h4,
#MyAnime .content .MyAnimPoster.Drop h4,
#MyAnime .content .MyAnimPoster.InWait h4 {
  color: #21e0fd;
}

#MyAnime .content .MyAnimPoster.Paused h5,
#MyAnime .content .MyAnimPoster.Drop h5,
#MyAnime .content .MyAnimPoster.InWait h5 {
  text-align: center;
  margin-top: 12px;
}

#MyAnime .content .MyAnimPoster.Paused .ImgInterract,
#MyAnime .content .MyAnimPoster.Drop .ImgInterract,
#MyAnime .content .MyAnimPoster.InWait .ImgInterract {
  opacity: 0.3;
  -webkit-filter: grayscale(0.3) blur(0.8px);
          filter: grayscale(0.3) blur(0.8px);
}

#MyAnime .content .MyAnimPoster.Drop {
  color: #fb401f;
  background-color: rgba(251, 64, 31, 0.1);
}

#MyAnime .content .MyAnimPoster.Drop .FvBtn {
  color: #fb401f;
}

#MyAnime .content .MyAnimPoster.Drop h4 {
  color: #ff2600;
}

#MyAnime .content .MyAnimPoster.InWait {
  color: #6c757d;
  background-color: rgba(108, 117, 125, 0.2);
}

#MyAnime .content .MyAnimPoster.InWait .FvBtn {
  color: #161616;
}

#MyAnime .content .MyAnimPoster.InWait h4 {
  color: #fff !important;
  font-weight: bold;
}

#MyAnime .content .MyAnimPoster.Paused:hover,
#MyAnime .content .MyAnimPoster.Drop:hover,
#MyAnime .content .MyAnimPoster.InWait:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #525252;
}

#MyAnime .content .MyAnimPoster.Paused:hover .ImgInterract,
#MyAnime .content .MyAnimPoster.Drop:hover .ImgInterract,
#MyAnime .content .MyAnimPoster.InWait:hover .ImgInterract {
  opacity: 0.4;
  -webkit-filter: grayscale(0.4) blur(0px);
          filter: grayscale(0.4) blur(0px);
}

#MyAnime .content .MyAnimPoster.Drop:hover {
  background-color: rgba(251, 64, 31, 0.2);
}

#MyAnime .content .MyAnimPoster.InWait:hover {
  background-color: rgba(108, 117, 125, 0.4);
}

#MyAnime .content.none {
  display: unset;
  position: relative;
}

#MyAnime .content.none header {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 25px !important;
}

#MyAnime .content.none header form #actionFormAddNA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#MyAnime .content.none header form #actionFormAddNA .dropdown {
  margin-right: 5px;
}

#MyAnime .content.none header form #actionFormAddNA input {
  position: absolute;
  width: 38.1%;
  left: 0;
}

#MyAnime .content.none header #BtnModeDisplayNextAnim {
  margin-right: 5px;
}

#MyAnime .content.none .NextAnimContainer {
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

#MyAnime .content.none .NextAnimContainer .NextAnim {
  text-align: center;
}

#MyAnime .content.none .NextAnimContainer .NextAnim .name {
  font-size: 1.3rem;
  font-weight: bold;
}

#MyAnime .content.none .NextAnimContainer .NextAnim button {
  position: relative;
  font-weight: bold;
}

#MyAnime .content.none .NextAnimContainer .NextAnim button .animation {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 50px;
  opacity: 0;
  font-size: 1.6rem;
  color: #f7f7f7 !important;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#MyAnime .content.none .NextAnimContainer .NextAnim button:hover .animation {
  -webkit-animation: LToR 0.5s ease-in 0.1s 1 forwards;
          animation: LToR 0.5s ease-in 0.1s 1 forwards;
}

#MyAnime .content.none .NextAnimContainer .NextAnim.Skeleton #nameSkeleton {
  position: relative;
  overflow: hidden;
  margin-left: calc(50% - 150px / 2);
  width: 150px;
  height: 15px;
  border-radius: 25px;
  background-color: #3e4449;
}

#MyAnime .content.none .NextAnimContainer .NextAnim.Skeleton #BtnSkeleton {
  position: relative;
  overflow: hidden;
  margin-top: 15px;
  width: 100%;
  height: 25px;
  border-radius: 7px;
  background-color: #3e4449;
}

#MyAnime .content.none .NextAnimContainer .NextAnim.Skeleton #nameSkeleton::after {
  content: "";
  position: absolute;
  left: 0;
  width: 135px;
  height: 15px;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#485058), color-stop(#3e4449), to(#485058));
  background-image: linear-gradient(90deg, #485058, #3e4449, #485058);
  -webkit-animation: SkeletonName 2s ease-in 1s infinite;
          animation: SkeletonName 2s ease-in 1s infinite;
}

#MyAnime .content.none .NextAnimContainer .NextAnim.Skeleton #BtnSkeleton::after {
  content: "";
  position: absolute;
  left: 0;
  width: 85%;
  height: 25px;
  border-radius: 7px;
  background-image: -webkit-gradient(linear, left top, right top, from(#485058), color-stop(#3e4449), to(#485058));
  background-image: linear-gradient(90deg, #485058, #3e4449, #485058);
  -webkit-animation: SkeletonBtn 2s ease-in 1s infinite;
          animation: SkeletonBtn 2s ease-in 1s infinite;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  border-radius: 15px;
  padding: 13px;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim {
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  background: #212121;
  -webkit-box-shadow: 11px 11px 6px #1c1c1c, -11px -11px 6px #262626;
          box-shadow: 11px 11px 6px #1c1c1c, -11px -11px 6px #262626;
  text-align: center;
  width: 200px;
  height: 200px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 54px;
  font-size: 18px;
  word-break: break-all;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #2daa61;
  text-decoration: underline;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  max-height: calc(54px + 38px);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .badge:empty {
  display: block;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA #ValueBadge {
  visibility: visible;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA #CancelBadge {
  display: none;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA:hover img {
  visibility: hidden;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA:hover #ValueBadge {
  visibility: hidden;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA:hover #CancelBadge {
  display: block;
  position: absolute;
  left: calc(50% - 8px / 2);
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front #BadgesType .BadgesNA.badge-pill:active {
  background-color: #464c52;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .back {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .back .deleteNA {
  position: absolute;
  top: calc(50% - 67.98px / 2);
  left: calc(50% - 65.92px / 2);
  color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 15px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .back .deleteNA span {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .back .deleteNA:hover {
  color: #fb401f;
  border: 2px solid #ff4c2c;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .front.active,
#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim .back.active {
  opacity: 1;
  visibility: visible;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.BackActive {
  -webkit-box-shadow: -11px -11px 6px #1c1c1c, 11px 11px 6px #262626;
          box-shadow: -11px -11px 6px #1c1c1c, 11px 11px 6px #262626;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.small {
  background-color: rgba(77, 140, 207, 0.08);
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.small .name {
  color: #4d8ccf;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.medium {
  background-color: rgba(255, 193, 7, 0.03);
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.medium .name {
  color: #ffc107;
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.big {
  background-color: rgba(251, 64, 31, 0.09);
}

#MyAnime .content.none .NextAnimContainer.ModeBlock .NextAnim.big .name {
  color: #fb401f;
}

@media screen and (max-width: 1200px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  #MyAnime .content.none header form #actionFormAddNA {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #MyAnime .content.none header form #actionFormAddNA input {
    width: 70%;
  }
  #MyAnime .content.none .NextAnimContainer.ModeBlock {
    justify-items: center;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 991px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
  }
  #MyAnime .content .MyAnimPoster {
    width: 150px !important;
  }
  #MyAnime .content .MyAnimPoster .ImgInterract img {
    width: 150px !important;
    height: 222px !important;
    border-radius: 7px;
  }
  #MyAnime .content .MyAnimPoster .action .watch,
  #MyAnime .content .MyAnimPoster .action .delete {
    top: calc(50% - 222px / 4.55);
  }
  #MyAnime .content .MyAnimPoster.Skeleton::before {
    width: 100px;
    left: calc(50% - 50px);
  }
  #MyAnime .content .MyAnimPoster.Season {
    background-size: 150px 222px !important;
  }
  #MyAnime .content.none header form #actionFormAddNA {
    display: block;
  }
  #MyAnime .content.none header form #actionFormAddNA .dropdown {
    position: absolute;
    bottom: 71px;
    left: calc(50% - 32px / 2 - 96.36px / 2);
  }
  #MyAnime .content.none header form #actionFormAddNA button[type="submit"] {
    margin-top: 48px;
    margin-left: calc(50% - 96.36px - 96.36px / 3.5);
  }
  #MyAnime .content.none header form #actionFormAddNA input {
    width: 100%;
  }
  #MyAnime .content.none .NextAnimContainer.ModeBlock {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: 500px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  #MyAnime .content.none .NextAnimContainer.ModeBlock {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 340px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 5px;
  }
  #MyAnime .content .MyAnimPoster {
    width: 100px !important;
  }
  #MyAnime .content .MyAnimPoster .ImgInterract img {
    width: 100px !important;
    height: 148px !important;
    border-radius: 7px;
  }
  #MyAnime .content .MyAnimPoster .action .watch,
  #MyAnime .content .MyAnimPoster .action .delete {
    padding: 20px !important;
    top: calc(50% - 148px / 3);
  }
  #MyAnime .content .MyAnimPoster .action .watch {
    left: calc(50%);
  }
  #MyAnime .content .MyAnimPoster .action .delete {
    left: calc(50% - 48px);
  }
  #MyAnime .content .MyAnimPoster.Skeleton::before {
    width: 75px;
    left: calc(50% - 75px / 2);
  }
  #MyAnime .content .MyAnimPoster.Season {
    background-size: 100px 148px !important;
  }
  #MyAnime .content.none header form #actionFormAddNA .dropdown {
    position: absolute;
    bottom: 71px;
    left: calc(50% - 32px / 2 - 96.36px / 2);
  }
  #MyAnime .content.none header form #actionFormAddNA button[type="submit"] {
    margin-top: 48px;
    margin-left: calc(50% - 96.36px);
  }
}

@media screen and (max-width: 240px) {
  #MyAnime .content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 5px;
  }
}

#WatchSkeleton {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#WatchSkeleton > header {
  position: relative;
  width: 100%;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.096);
}

#WatchSkeleton > header #STitle {
  margin-bottom: 15px;
  width: 200px;
  height: 30px;
  border-radius: 25px;
  background-color: #212121;
}

#WatchSkeleton > header #SImg {
  width: 250px;
  height: 343px;
  border-radius: 5px;
  background-color: #212121;
}

#WatchSkeleton > header::after {
  content: "";
  position: absolute;
  width: 91.27px;
  height: 38px;
  left: 10px;
  top: 5px;
  background-color: #212121;
  border-radius: 50px;
}

#WatchSkeleton #SToWatch #SBtnAction {
  position: absolute;
  width: 40px;
  height: 38px;
  right: 30px;
  border-radius: 4px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.096);
}

#WatchSkeleton #SToWatch #SBadges {
  width: 26.38px;
  height: 25px;
  margin-left: 243px;
  margin-top: 5px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.096);
}

#WatchSkeleton #SToWatch #SBadges::after {
  content: "";
  position: absolute;
  width: 114px;
  left: 5px;
  height: 25px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.096);
}

#WatchSkeleton #SToWatch #SBadges::before {
  content: "";
  position: absolute;
  left: 124px;
  width: 114px;
  height: 25px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.096);
}

#WatchSkeleton #SToWatch #SText {
  margin-left: calc(50% - 100px);
  margin-top: 5px;
  width: 200px;
  height: 28px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.096);
  margin-bottom: 8px;
}

#WatchSkeleton #SToWatch #Scontent {
  position: relative;
  margin-left: 10px;
}

#WatchSkeleton #SToWatch #Scontent #Sfilm {
  width: 220px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.096);
  color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

#WatchSkeleton #SToWatch #Scontent #Sfilm span {
  margin-left: 5px;
}

#WatchSkeleton #SToWatch #Scontent #Saccordeon {
  position: relative;
  margin-left: calc(50% - 25%);
  width: 50%;
  min-width: 300px;
  height: 54px;
  border: 2px solid rgba(255, 255, 255, 0.096);
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 360px) {
  #WatchSkeleton #SToWatch #SBadges {
    margin-left: 124px;
  }
  #WatchSkeleton #SToWatch #SBadges::before {
    display: none;
  }
  #WatchSkeleton #SToWatch #SText {
    width: 175px;
  }
}

#Watch {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#Watch .nonStartMod {
  position: relative;
  opacity: 0.3;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Watch .nonStartMod header h1 p {
  margin-bottom: 0;
}

#Watch .nonStartMod header h1.ModeNewEp {
  color: #7700ff;
}

#Watch .nonStartMod section {
  margin-bottom: 15px;
}

#Watch .nonStartMod section #badgeStreaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#Watch .nonStartMod section #badgeStreaming #InputBadgeStreaming {
  background-image: linear-gradient(45deg, #13c2c2, #fadb14);
  color: #101010;
}

#Watch .nonStartMod section #badgeStreaming #InputBadgeStreaming #InputNbadgeReperage {
  height: 20px;
  border: none;
  background: transparent;
}

#Watch .nonStartMod section #badgeStreaming .badge:empty {
  display: block;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 5px;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME img {
  visibility: visible;
  height: 19px;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME #ValueBadge {
  visibility: visible;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME #CancelBadge {
  display: none;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME:hover img {
  visibility: hidden;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME:hover #ValueBadge {
  visibility: hidden;
}

#Watch .nonStartMod section #badgeStreaming .BadgesME:hover #CancelBadge {
  display: block;
  position: absolute;
  left: calc(50% - 8px / 2);
  top: calc(50% - 7px);
}

#Watch .nonStartMod section #badgeStreaming .BadgesME.badge-pill:active {
  background-color: #464c52;
}

#Watch .nonStartMod section header {
  text-align: center;
}

#Watch .nonStartMod section header h1 {
  text-decoration: underline;
  font-size: 2rem;
  font-style: italic;
}

#Watch .nonStartMod > header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.096);
}

#Watch .nonStartMod > header .img {
  position: relative;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .nonStartMod > header .img img {
  width: 250px;
  border-radius: 5px;
  height: calc(318px + 25px);
}

#Watch .nonStartMod > header .img .FvBtn,
#Watch .nonStartMod > header .img .RatingStar {
  position: absolute;
  z-index: 10;
  padding: 5px;
  border-radius: 7px;
}

#Watch .nonStartMod > header .img .FvBtn {
  left: 0;
  background-color: rgba(0, 0, 0, 0.274);
  color: #ffc107;
  cursor: pointer;
}

#Watch .nonStartMod > header .img #NEWEPBadgeWatch {
  position: absolute;
  top: 2.5px;
  right: -15px;
  z-index: 1000;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#Watch .nonStartMod > header .img .RatingStar {
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

#Watch .nonStartMod > header .img .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #007bff;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .nonStartMod > header .img .play:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

#Watch .nonStartMod > header .img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#Watch .nonStartMod > header h1 {
  font-size: 1.7rem;
  margin-bottom: 15px;
  font-weight: bold;
}

#Watch .nonStartMod #ToWatch button {
  margin-left: 10px;
  margin-top: 5px;
}

#Watch .nonStartMod #ToWatch #DropdownAction {
  position: absolute;
  right: 30px;
}

#Watch .nonStartMod #ToWatch #DropdownAction::after {
  display: none;
}

#Watch .nonStartMod #ToWatch .content {
  position: relative;
  margin-left: 10px;
}

#Watch .nonStartMod #ToWatch .content .film {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1rem;
}

#Watch .nonStartMod #ToWatch .content .film span {
  color: greenyellow;
  text-decoration: none;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child {
  position: relative;
  width: 50%;
  min-width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.7rem;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .name span {
  color: greenyellow;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .name #AddEpBtn {
  position: absolute;
  right: 20px;
  top: 0;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .name .fa-trash {
  position: absolute;
  right: 130px;
  top: calc(50px / 2 - 27px / 2);
  color: #dc3545;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .episodes {
  display: none;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .episodes span {
  color: greenyellow;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child .episodes .fa-trash {
  color: #dc3545;
}

#Watch .nonStartMod #ToWatch .content .accordionAnimEP .accordion-child.active .episodes {
  display: block;
}

#Watch .nonStartMod.active {
  opacity: 1;
  pointer-events: unset;
  -webkit-user-select: unset;
     -moz-user-select: unset;
      -ms-user-select: unset;
          user-select: unset;
}

#Watch .StartMod {
  display: none;
}

#Watch .StartMod.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Watch .StartMod.active header {
  position: absolute;
  top: 29vh;
  left: calc(50% - 250px);
  width: 500px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .StartMod.active header h2 {
  line-height: 30px;
  text-align: center;
  font-size: 2.5rem;
}

#Watch .StartMod.active header h2 #TotalEP {
  font-size: 16px;
  font-weight: bold;
}

#Watch .StartMod.active footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 19vh;
  left: calc(50% - 246px);
  width: 500px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .StartMod.active footer .previousEp {
  margin-right: 20px;
  margin-bottom: 10px;
}

#Watch .StartMod.active footer .blockNextAction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 300px;
  height: 75px;
  cursor: pointer;
  border: 2px solid #ff6d00;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#Watch .StartMod.active footer .blockNextAction:hover {
  background-color: #ddd;
}

@media screen and (max-height: 600px) {
  #Watch .StartMod.active header {
    top: 17vh;
  }
}

@media screen and (max-height: 440px) {
  #Watch .StartMod.active header {
    top: 15vh;
  }
  #Watch .StartMod.active footer {
    left: calc(50% - 124px) !important;
  }
  #Watch .StartMod.active footer .blockNextAction {
    height: 50px;
    width: 250px;
  }
}

@media screen and (max-width: 510px) {
  #Watch .StartMod.active footer {
    display: block;
    width: 300px !important;
    left: calc(50% - 146px);
    bottom: 5vh;
  }
  #Watch .StartMod.active footer .previousEp {
    margin-right: 0px;
  }
}

#Watch .StartMod.active .cancel,
#Watch .StartMod.active .next,
#Watch .StartMod.active .finished {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: calc(50% - 66px / 2);
  width: 35px;
  height: 35px;
  font-size: 30px;
  border-radius: 50%;
  color: #ff6d00;
  border: 3px solid #ff6d00;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch .StartMod.active .next,
#Watch .StartMod.active .finished {
  left: calc(50% - 66px / 2 + 66px / 2 + 10px);
}

#Watch .StartMod.active .cancel {
  left: calc(50% - 66px / 2 - 66px / 2 - 10px);
}

#Watch .StartMod.active .finished {
  color: greenyellow;
  border: 3px solid greenyellow;
}

#Watch .StartMod.active .cancel {
  color: red;
  border: 3px solid red;
}

#Watch .StartMod.active .cancel:hover,
#Watch .StartMod.active .next:hover,
#Watch .StartMod.active .finished:hover {
  color: royalblue;
  border: 3px solid royalblue;
}

#Watch #DataAnim {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(235px - 204px / 2);
  left: 20%;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px #222, 1px 1px 5px #111;
          box-shadow: 2px 2px 5px #222, 1px 1px 5px #111;
}

#Watch #DataAnim .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

#Watch #DataAnim .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

#Watch #DataAnim .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Watch #DataAnim .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}

#Watch #DataAnim .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * var(--value)) / 100);
  stroke: #ff6d00;
}

#Watch #DataAnim .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #999;
}

#Watch #DataAnim .percent .number h2 {
  font-size: 48px;
}

#Watch #DataAnim .percent .number h2 span {
  font-size: 24px;
}

#Watch #DataAnim #continuedAnim {
  margin-top: 10px;
}

@media screen and (max-width: 1040px) {
  #Watch #DataAnim {
    left: 10%;
  }
}

@media screen and (max-width: 775px) {
  #Watch #DataAnim {
    left: 5%;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media screen and (max-width: 720px) {
  #Watch #DataAnim {
    -webkit-box-shadow: 1px 1px 2px #111, 1px 1px 2px #111;
            box-shadow: 1px 1px 2px #111, 1px 1px 2px #111;
    position: static;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    width: 80%;
    margin-left: calc(50% - 40%);
  }
}

#Preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #000;
}

#Preview img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#Preview img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transform: scale(2);
          transform: scale(2);
}

#Notif,
#Settings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

#Notif header,
#Settings header {
  text-align: center;
}

#Notif header h2,
#Settings header h2 {
  font-size: 2.3rem;
  font-weight: bold;
}

#Notif header h2 span,
#Settings header h2 span {
  color: grey;
}

#Notif header h4,
#Settings header h4 {
  font-size: 1.15rem;
  margin: 30px 0;
}

#Notif header button,
#Settings header button {
  margin-bottom: 10px;
}

#Notif #returnNotif {
  margin-top: 50px;
  max-height: 700px;
  overflow: auto;
}

#Notif #returnNotif .notif {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  border-radius: 5px;
  width: 500px;
  margin-bottom: 10px;
}

#Notif #returnNotif .notif .name {
  font-size: 1.4rem;
  font-weight: 600;
}

#Notif #returnNotif .notif button {
  margin: 10px 10px 0 10px;
}

#Settings #ActionAccount {
  overflow: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 10px;
  top: 75px;
  width: 20%;
  height: calc(100% - 75px);
}

#Settings #ActionAccount h1 {
  text-align: center;
  font-size: 1.9rem;
  text-decoration: underline;
}

#Settings #ActionAccount .BtnActionAccount {
  margin-bottom: 10px;
}

@-webkit-keyframes LToR {
  from {
    opacity: 0;
    left: 50px;
  }
  to {
    opacity: 1;
    left: 300px;
  }
}

@keyframes LToR {
  from {
    opacity: 0;
    left: 50px;
  }
  to {
    opacity: 1;
    left: 300px;
  }
}

@-webkit-keyframes Skeleton {
  from {
    left: -220px;
  }
  to {
    left: 220px;
  }
}

@keyframes Skeleton {
  from {
    left: -220px;
  }
  to {
    left: 220px;
  }
}

@-webkit-keyframes SkeletonName {
  from {
    left: -200px;
  }
  to {
    left: 200px;
  }
}

@keyframes SkeletonName {
  from {
    left: -200px;
  }
  to {
    left: 200px;
  }
}

@-webkit-keyframes SkeletonBtn {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@keyframes SkeletonBtn {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
/*# sourceMappingURL=App.css.map */